In [40]:
import logging
import joblib
from sklearn.metrics import log_loss
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np
from mysql.connector import (connection)
logging.basicConfig(format='%(asctime)s : %(levelname)s : %(message)s', level=logging.INFO)

In [41]:
clf = joblib.load("../data/models/lead_classifier.model")

In [42]:
df = pd.read_csv("../data/datasets/lead_prepared.csv")

In [45]:
df2 = pd.read_csv("../data/datasets/lead_prepared_3.csv")

In [47]:
s1 = pd.Series(df2['refid'], name='refid')
result = pd.concat([df,s1], axis=1)
result

,converted,year_entered,month_entered,day_entered,year_modified,month_modified,day_modified,status_Converted,status_Dead,status_Disqualified,...,description_95,description_96,description_97,description_98,description_99,status_MQL,status_Nurterring,status_Customer,status_Engaged,refid
0,0,2014,2,13,2015,2,16,0,0,0,...,-0.003168,0.000865,-0.004799,0.003289,-0.004953,NaN,NaN,NaN,NaN,00000c84-d7ae-3236-ea0e-52fcd6d76ad1
1,0,2016,6,13,2016,8,2,0,0,0,...,-0.003168,0.000865,-0.004799,0.003289,-0.004953,NaN,NaN,NaN,NaN,1000052c-c36b-079b-92f0-575ea66aa6d3
2,0,2013,5,13,2014,9,19,0,0,0,...,-0.003168,0.000865,-0.004799,0.003289,-0.004953,NaN,NaN,NaN,NaN,10000ea2-16be-f80d-3dc6-5190e4d71ccd
3,0,2004,10,7,2013,5,31,0,0,0,...,-0.003168,0.000865,-0.004799,0.003289,-0.004953,NaN,NaN,NaN,NaN,1000156e-4bf1-7a9e-e413-460ce9f515db
4,0,2014,8,9,2015,8,17,0,0,0,...,0.035900,0.017274,-0.132610,-0.016884,-0.117519,NaN,NaN,NaN,NaN,100020f3-2c9a-4b88-0aa5-53e570af92f4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
313092,0,2014,2,13,2015,3,24,0,0,0,...,-0.003168,0.000865,-0.004799,0.003289,-0.004953,NaN,NaN,NaN,NaN,ffee0ddc-2d32-57f1-9935-52fcb0283fd9
313093,1,2006,9,14,2010,3,4,1,0,0,...,-0.003168,0.000865,-0.004799,0.003289,-0.004953,NaN,NaN,NaN,NaN,fff00e19-0fe9-c2e0-d9ba-450943b32ebd
313094,0,2013,1,4,2014,12,10,0,0,0,...,-0.003168,0.000865,-0.004799,0.003289,-0.004953,NaN,NaN,NaN,NaN,fff40e73-edea-38c5-993d-50e6dabf0528
313095,0,2017,2,28,2017,2,28,0,0,0,...,-0.003168,0.000865,-0.004799,0.003289,-0.004953,NaN,NaN,NaN,NaN,fff90a92-8cea-a60b-3bd3-58b583025e34
313096,0,2007,10,22,2011,11,30,0,0,0,...,-0.003168,0.000865,-0.004799,0.003289,-0.004953,NaN,NaN,NaN,NaN,fffb0b23-a98e-5512-2bed-471c8d115eb1

In [50]:
y = result['converted']
X = result.drop('converted', axis=1)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=42)

In [ ]:
X_train

In [52]:
X_test.fillna(0,inplace=True)
X_train.fillna(0,inplace=True)

/home/chana/.local/lib/python3.6/site-packages/pandas/core/frame.py:4153: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [ ]:
X_test2 = X_test.drop('refid', axis=1)
X_train2 = X_train.drop('refid', axis=1)

In [54]:
y_pred = clf.predict(X_test2)

In [10]:
print("Accuracy : ", accuracy_score(y_pred, y_test))
print("Log Loss : ", log_loss(y_pred, y_test))

Accuracy :  0.9911210475886298
Log Loss :  0.30667514939256063

In [26]:
clf.fit(X_train, y_train)

/home/chana/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  """Entry point for launching an IPython kernel.

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=24, p=2,
                     weights='uniform')

In [35]:
X_test

,year_entered,month_entered,day_entered,year_modified,month_modified,day_modified,status_Converted,status_Dead,status_Disqualified,status_Evanglist,...,description_94,description_95,description_96,description_97,description_98,description_99,status_MQL,status_Nurterring,status_Customer,status_Engaged
278489,2016,2,22,2016,6,8,0,0,0,0,...,-0.002106,-0.003168,0.000865,-0.004799,0.003289,-0.004953,0.0,0.0,0.0,0.0
85754,2007,12,18,2008,1,6,0,0,0,0,...,-0.057212,0.015606,0.032667,-0.064175,-0.047344,0.000020,0.0,0.0,0.0,0.0
42265,2013,3,27,2014,12,10,0,0,0,0,...,-0.002106,-0.003168,0.000865,-0.004799,0.003289,-0.004953,0.0,0.0,0.0,0.0
135423,2011,10,31,2017,10,31,0,0,0,0,...,-0.044313,0.044056,0.034700,-0.177959,-0.023957,-0.125437,0.0,0.0,0.0,0.0
135262,2015,2,8,2015,9,8,0,0,0,0,...,-0.002106,-0.003168,0.000865,-0.004799,0.003289,-0.004953,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
238618,2012,9,27,2015,8,24,0,0,0,0,...,-0.002106,-0.003168,0.000865,-0.004799,0.003289,-0.004953,0.0,0.0,0.0,0.0
288283,2013,6,4,2014,8,14,0,1,0,0,...,-0.002106,-0.003168,0.000865,-0.004799,0.003289,-0.004953,0.0,0.0,0.0,0.0
43186,2019,11,24,2019,11,24,0,0,0,0,...,0.877751,-0.414089,0.057506,-1.017449,0.125672,0.154037,0.0,0.0,0.0,0.0
125254,2010,5,25,2010,5,28,0,0,0,0,...,-0.002106,-0.003168,0.000865,-0.004799,0.003289,-0.004953,0.0,0.0,0.0,0.0
121330,2016,1,6,2016,3,29,0,0,0,0,...,-0.002106,-0.003168,0.000865,-0.004799,0.003289,-0.004953,0.0,0.0,0.0,0.0

In [36]:
X_test.describe()

,year_entered,month_entered,day_entered,year_modified,month_modified,day_modified,status_Converted,status_Dead,status_Disqualified,status_Evanglist,...,description_94,description_95,description_96,description_97,description_98,description_99,status_MQL,status_Nurterring,status_Customer,status_Engaged
count,31310.000000,31310.000000,31310.000000,31310.000000,31310.000000,31310.000000,31310.000000,31310.000000,31310.000000,31310.000000,...,31310.000000,31310.000000,31310.000000,31310.000000,31310.000000,31310.000000,31310.000000,31310.0,31310.0,31310.0
mean,2013.530278,6.428457,16.316608,2014.846694,7.166241,15.375024,0.007154,0.077355,0.000607,0.000032,...,-0.000600,-0.002107,0.011031,-0.048553,-0.000885,-0.019489,0.000032,0.0,0.0,0.0
std,3.652636,3.654989,8.686296,2.887868,3.788652,8.479114,0.084281,0.267159,0.024627,0.005651,...,0.064490,0.068475,0.095322,0.174356,0.063810,0.091137,0.005651,0.0,0.0,0.0
min,2003.000000,1.000000,1.000000,2006.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,-2.131592,-3.924048,-1.803591,-4.191515,-2.400775,-2.274758,0.000000,0.0,0.0,0.0
25%,2011.000000,3.000000,9.000000,2013.000000,4.000000,9.000000,0.000000,0.000000,0.000000,0.000000,...,-0.002106,-0.003168,0.000865,-0.004799,0.003289,-0.004953,0.000000,0.0,0.0,0.0
50%,2013.000000,6.000000,17.000000,2015.000000,8.000000,15.000000,0.000000,0.000000,0.000000,0.000000,...,-0.002106,-0.003168,0.000865,-0.004799,0.003289,-0.004953,0.000000,0.0,0.0,0.0
75%,2016.000000,10.000000,24.000000,2017.000000,11.000000,23.000000,0.000000,0.000000,0.000000,0.000000,...,-0.002106,-0.003168,0.000865,-0.004799,0.003289,-0.004953,0.000000,0.0,0.0,0.0
max,2020.000000,12.000000,31.000000,2020.000000,12.000000,31.000000,1.000000,1.000000,1.000000,1.000000,...,1.108368,1.236882,4.679362,3.570328,1.226131,4.781331,1.000000,0.0,0.0,0.0

In [55]:
s1 = pd.Series(y_pred, name='converted')

In [56]:
result = pd.concat([X_test,s1], axis=1)

In [57]:
tt=np.array([X_test.refid], dtype=object)

In [58]:
tt=X_test.refid.tolist()
tt[452]

'cfbc966d-c798-e215-21d1-4eba9e17a070'

In [59]:
compteur=0
c=[]
for i in range(len(y_pred)-1):
    if y_pred[i]==1:
        c.append(tt[i])
        compteur=compteur+1
    i=i+1   
c

['cfbc966d-c798-e215-21d1-4eba9e17a070',
 'd4383bd7-bf18-babd-e1dd-4eba9ec0524a',
 'e7fd5d89-41e7-64ed-9978-45f6cbca5715',
 '987a4087-ee76-6f1f-c775-4eba9ee56a37',
 '1784b929-e974-3949-de1f-45f53a7f2c20',
 '387e6cc2-6173-44ee-edba-4eba9e9fc22d',
 '1aac71a7-652c-c3ee-b3f2-450906a9688f',
 'adb7f4ab-c78f-021d-61ec-4eba9ea82b3f',
 '11548d7b-de4e-3ae4-face-4af8771e4b48',
 '5623a435-ccc6-417f-e43b-460ce8cc8d0e',
 '2ceddc16-dd4b-b755-7cf0-453797d97498',
 '46177982-94a8-f203-d2fd-4eba9e3cfec4',
 '82e21d81-9953-b9d9-a608-458ab6270077',
 '2433a3d1-1a57-55a9-734e-45090cb619ac',
 'defa0a93-5bbd-dabd-404c-4eb8156aafa6',
 '3f806d27-2153-dbb4-326d-461f6746084b',
 '49be0074-9a17-06e0-d0f0-45124e4d4b8a',
 '429a8896-8b4a-5c81-a876-460cc2697ff1',
 '32268773-0163-8fcb-ad36-4eba9e14f1d3',
 '8099386d-b153-a6ca-c049-450347ac2601',
 '7a8e4d70-ec45-eb8d-5345-4508fb955dbf',
 '3812e9cf-f60f-a486-4291-4eba3c35940c',
 '66ddab9a-2c5f-2950-ebbe-4538d333a0e8',
 '8e6c9700-3338-1635-9cdf-4eba9ecf1892',
 'a30e32af-c33b-1357-a233-465f110dc26e',
 'b5af0705-9150-96b3-8749-4eba9ee4fd79',
 'b346f04a-e417-6b96-5e83-4d02a0779eb4']

In [114]:
prospects="'"+"','".join(c)+"'"

In [115]:
prospects

"'cfbc966d-c798-e215-21d1-4eba9e17a070','d4383bd7-bf18-babd-e1dd-4eba9ec0524a','e7fd5d89-41e7-64ed-9978-45f6cbca5715','987a4087-ee76-6f1f-c775-4eba9ee56a37','1784b929-e974-3949-de1f-45f53a7f2c20','387e6cc2-6173-44ee-edba-4eba9e9fc22d','1aac71a7-652c-c3ee-b3f2-450906a9688f','adb7f4ab-c78f-021d-61ec-4eba9ea82b3f','11548d7b-de4e-3ae4-face-4af8771e4b48','5623a435-ccc6-417f-e43b-460ce8cc8d0e','2ceddc16-dd4b-b755-7cf0-453797d97498','46177982-94a8-f203-d2fd-4eba9e3cfec4','82e21d81-9953-b9d9-a608-458ab6270077','2433a3d1-1a57-55a9-734e-45090cb619ac','defa0a93-5bbd-dabd-404c-4eb8156aafa6','3f806d27-2153-dbb4-326d-461f6746084b','49be0074-9a17-06e0-d0f0-45124e4d4b8a','429a8896-8b4a-5c81-a876-460cc2697ff1','32268773-0163-8fcb-ad36-4eba9e14f1d3','8099386d-b153-a6ca-c049-450347ac2601','7a8e4d70-ec45-eb8d-5345-4508fb955dbf','3812e9cf-f60f-a486-4291-4eba3c35940c','66ddab9a-2c5f-2950-ebbe-4538d333a0e8','8e6c9700-3338-1635-9cdf-4eba9ecf1892','a30e32af-c33b-1357-a233-465f110dc26e','b5af0705-9150-96b3-8749-4eba9ee4fd79','b346f04a-e417-6b96-5e83-4d02a0779eb4'"

In [135]:
cnx = connection.MySQLConnection(user='chaimaa', password='chaimaa',
                                 host='localhost',
                                 database='verbatim')

In [136]:
cr = cnx.cursor()
q = """ select a.id,a.name ,a.date_entered ,a.date_modified ,l.converted,max(c.date_end )as  dernier_appel,max(c.duration_minutes) as duree_appel_minutes, 
 max(c.duration_hours ) as duree_appel_heures,count(c.id) nb_appel , 
 max(m.date_end )as  dernier_rdv ,max(m.duration_minutes) as duree_rdv_minutes, 
 max(m.duration_hours ) as duree_rdv_heures,count(m.id) nb_rdv
 from accounts a , leads l ,meetings m , calls c 
 where a.id=l.account_id  and m.parent_id =a.id and c.parent_id =a.id and a.id in (""" + prospects + """ )
 group by a.id,a.name ,a.date_entered ,a.date_modified ,l.converted
            """

In [137]:
r=cr.execute(q)

q

In [138]:
data = cr.fetchall()
data

[]

[]

In [122]:
res=np.asarray(data)

In [128]:
res

array([], dtype=float64)

In [127]:
pd.DataFrame(res)

Empty DataFrame
Columns: [0]
Index: []

In [125]:
from sklearn.linear_model import LogisticRegression

In [14]:
logisticRegr = LogisticRegression()
logisticRegr.fit(X_train, y_train)

/home/chana/.local/lib/python3.6/site-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/chana/.local/lib/python3.6/site-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [15]:
predictions = logisticRegr.predict(X_test)

In [16]:
predictions

array([0, 0, 0, ..., 0, 0, 0])